
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>
      Image Selection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-content>
          <ion-card-header text-center>
            Please upload an image...
          </ion-card-header>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="6" offset-md="3"> 
        <img *ngIf="photo" [src]="photo">
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
          <ion-input type="file" name="profile" (change)="onFileSelect($event)" color="tertiary"></ion-input>
          <ion-button type=submit expand="block" shape="round" size="large" color="tertiary" id="btn-classification">Process Image</ion-button>
        </form>
      </ion-col>
    </ion-row>



</ion-grid>
</ion-content>
